<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="insert"/>
    <add key="STW_ID" value="15000" />
    <add key="TWT_ID" value="180000" />
    <add key="outputFile" value="C:\BOX\UE_EFTA\zxc.excel.proc\output\I004SQL.sql" />
    <add key="outputDir" value="C:\BOX\UE_EFTA\zxc.excel.proc\output\" />
    <add key="inputFile" value="C:\BOX\UE_EFTA\zxc.excel.proc\UEFTA_Teksty.xlsx" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
